<p>ebook-list works!</p>
<div *ngIf="ebooks.length > 0">
  <ul>
    <li *ngFor="let ebook of ebooks">
      {{ ebook.title }} - {{ ebook.author }}
      <button type="button" class="btn btn-secondary" (click)="navigateToEdit(ebook.id)">Edit</button>
      <button type="button" class="btn btn-danger" (click)="deleteEbook(ebook.id)">Delete</button>
    </li>
  </ul>
</div>
<div *ngIf="ebooks.length === 0">
  No ebooks found.
</div>

<button type="button" class="btn btn-primary" (click)="navigateToCreate()">Create New Ebook</button>
